.header__top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 12px 0;
    margin: 0 40px;
    border-bottom: 1px solid #E5E5E5;
}

.header__link__1 {
    justify-self: start;
}

.header__logo {
    grid-column: 2;
    justify-self: center;
}

.header__link__2,
.header__link__3 {
    grid-column: 3;
    margin: 0 2px;
    justify-self: end;
}

.header__link__2,
.header__link__3 {
    display: inline-block;
}

.header__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 40px; 
    list-style: none;
}

.header__icon {
    width: 25px;
    height: 25px;
}

.header__nav {
    padding: 20px 80px;
    color: #4e4d93;
}

