.new_collection {
    padding: 120px 200px;
}

.new_collection h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 60px;
    color: #2a254b;
}

.new_collection__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 40px;
    text-align: left;
}

.product-card {
    text-align: left;
}

.product-card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
}

.product-card h3 {
    color: #2a254b;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.product-card .price {
    font-size: 18px;
    font-weight: 500;
    color: #2a254b;
    margin: 0;
}

.collection-link {
    display: inline-block;

    padding: 16px 32px;
    background-color: transparent;
    color: #2a254b;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.collection-link:hover {
    background-color: #484464;
    color: white;
}

.new_collection__button {
    text-align: center; 
}